name: Linux

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: linux-${{ matrix.type.name }}-${{ matrix.build.name }}
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        type:
        - { name: static, flags: -DBUILD_SHARED_LIBS=0 }
        - { name: shared, flags: -DBUILD_SHARED_LIBS=1 }
        build:
        - { name: dbg, flags: -DCMAKE_BUILD_TYPE=Debug }
        - { name: rel, flags: -DCMAKE_BUILD_TYPE=Release }

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set variables
      id: set-vars
      run: |
        echo "PACKAGE=libquack-linux-${{ matrix.type.name }}-${{ matrix.build.name }}-$(git rev-parse --short HEAD) >> ${GITHUB_OUTPUT}"

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libgl-dev xorg-dev libopenal-dev libvorbis-dev

    - name: Configure
      run: cmake -B build ${{ matrix.type.flags }} ${{ matrix.build.flags }}

    - name: Build
      run: cmake --build build

    - name: Install
      run: cmake --install build --prefix tarball/${{ steps.set-vars.outputs.PACKAGE }}

    - name: Add extra files
      run: |
        cp -av LICENSE README.md tarball/${{ steps.set-vars.outputs.PACKAGE }}

    - name: Create archive
      run: |
        cd tarball
        tar -vcf ../${{ steps.set-vars.outputs.PACKAGE }}.tar.gz *
    
    - uses: actions/upload-artifact@v3
      with:
        name: libquack-linux
        path: |
          ${{ steps.set-vars.outputs.PACKAGE }}.tar.gz
