name: Linux

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: linux-${{ matrix.config.name }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
        - { name: static, flags: -DBUILD_SHARED_LIBS=0 }
        - { name: shared, flags: -DBUILD_SHARED_LIBS=1 }

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ninja-build libgl-dev xorg-dev libopenal-dev libvorbis-dev

    - name: Configure
      run: cmake -B build -G "Ninja Multi-Config" ${{ matrix.config.flags }}

    - name: Build (Debug)
      run: cmake --build build --config Debug

    - name: Install (Debug)
      run: cmake --install build --config Debug --prefix install-debug/libquack

    - name: Build (Release)
      run: cmake --build build --config Release

    - name: Install (Release)
      run: cmake --install build --config Release --prefix install/libquack

    - name: Add extra files
      run: |
        cp -av LICENSE README.md install-debug/libquack
        cp -av LICENSE README.md install/libquack

    - name: Create archives
      run: |
        tar -C install-debug -vcf libquack-linux-${{ matrix.config.name }}-debug.tar.gz libquack
        tar -C install -vcf libquack-linux-${{ matrix.config.name }}.tar.gz libquack
    
    - uses: actions/upload-artifact@v3
      with:
        name: libquack-linux-${{ matrix.config.name }}
        path: |
          libquack-linux-${{ matrix.config.name }}-debug.tar.gz
          libquack-linux-${{ matrix.config.name }}.tar.gz
